.amcheckout-sortable-container .amcheckout-sortable {
    cursor: pointer;
}

.amcheckout-sortable-container .amcheckout-sortable.-unsortable {
    opacity: .5;
    cursor: default;
}

#row_amasty_checkout_gifts_enabled .value {
    color: #f70606;
}
