<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Checkout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Amasty_Checkout::config_checkout" title="Amasty One Step Checkout" sortOrder="151419" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="Amasty_Checkout::checkout_settings" title="Amasty One Step Checkout" translate="title" sortOrder="151419">
                        <resource id="Amasty_Checkout::checkout_settings_fields" title="Manage Checkout Fields" translate="title" sortOrder="10" />
                    </resource>
                </resource>
                <resource id="Magento_Reports::report">
                    <resource id="Magento_Reports::report_marketing">
                        <resource id="Amasty_Checkout::reports" sortOrder="192012" title="Checkout Analytics" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
