<div class="gift-message">
    <div class="gift-options-title">
        <span text="title"></span>
    </div>
    <div class="gift-options-content">
        <fieldset class="fieldset">
            <div class="field field-to">
                <label class="label" data-bind="attr: {for: getElementId('-to')}">
                    <span data-bind="i18n: 'To:'"></span>
                </label>
                <div class="control">
                    <input type="text"
                           class="input-text"
                           data-bind="value: getObservable('recipient'), attr: {id: getElementId('-to')}">
                </div>
            </div>
            <div class="field field-from">
                <label class="label" data-bind="attr: {for: getElementId('-from')}">
                    <span data-bind="i18n: 'From:'"></span>
                </label>
                <div class="control">
                    <input type="text"
                           class="input-text"
                           data-bind="value: getObservable('sender'), attr: {id: getElementId('-from')}">
                </div>
            </div>
            <div class="field text">
                <label class="label" data-bind="attr: {for: getElementId('-message')}">
                    <span data-bind="i18n: 'Message:'"></span>
                </label>
                <div class="control">
                    <textarea class="input-text"
                              rows="5" cols="10"
                              data-bind="value: getObservable('message'), attr: {id: getElementId('-message')}"></textarea>
                </div>
            </div>
        </fieldset>
    </div>
</div>
