<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="amasty_checkout" frontName="amasty_checkout">
            <module name="Amasty_Checkout" />
        </route>
    </router>
</config>
